.exercise-item-cart {
    border: 1px solid grey;
    width: 300px;
    height: 420px;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    background-color: rgba(230, 222, 222, 0.729);
}

.exercise-item-cart img {
    width: 300px;
    border-radius: 10px;
}

.exercise-item-cart h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.exercise-item-cart p {
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
}

.exercise-item-cart button {
    padding: 10px 20px;
    width: 95%;
    text-align: center;
    border-radius: 10px;
    background-color: seagreen;
    position: absolute;
    bottom: 0;
    border: none;
    color: wheat;
}