.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
    margin-left: 50px;
}

.cart-summery {
    background-color: rgb(228, 223, 214);
    height: 100vh;
    width: 350px;
    position: absolute;
    right: 0;
    padding: 20px;
}

.name-location-img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.personal-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
}

.per-data-up {
    margin-bottom: 0;
}

.per-data-down {
    margin-top: 0;
}

.per-fade-data {
    color: rgb(70, 60, 60);
    font-size: 12px;
}

.per-data-container {
    display: flex;
    gap: 30px;
    margin: 2% 10% auto;
    background-color: rgba(78, 54, 54, 0.313);
    border-radius: 20px;
    padding: 10px;
    line-height: 10px;
}

.break-btn-container {
    background-color: gray;
    margin: 2% 10% auto;
    border-radius: 15px;
    padding: 10px;
    line-height: 10px;
}

.break-time-btn {
    display: inline-block;
    margin-right: 15px;
    border: none;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
}

.break-exercise {
    background-color: rgb(227, 197, 197);
    margin: 2% 10% auto;
    border-radius: 15px;
    padding: 10px;
    line-height: 22px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.break-exercise-time {
    color: rgba(128, 128, 128, 0.96);
}

.activity-btn {
    background-color: blue;
    padding: 12px 12px;
    margin: 0 20% auto;
    color: wheat;
    font-size: 17px;
    margin-top: 40px;
    border-radius: 15px;
    cursor: pointer;
}