.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
    margin-left: 70px;
}

.workout-heading {
    margin-left: 70px;
    margin-top: 50px;
}

.cart-summery {
    background-color: rgb(242, 242, 253);
    height: 85vh;
    width: 300px;
    position: absolute;
    right: 0;
    padding: 20px;
    border-bottom-left-radius: 20px;
}

.name-location-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}

.name-location-img p {
    color: grey;
}

.personal-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    margin-right: 7px;
}

.per-data-up {
    margin-bottom: 0;
}

.per-data-down {
    margin-top: 0;
}

.per-fade-data {
    color: grey;
    font-size: 12px;
}

.per-data-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    background-color: rgb(237, 219, 219);
    border-radius: 20px;
    padding: 10px;
    line-height: 10px;
    margin-bottom: 40px;
}

.break-btn-container {
    background-color: rgb(237, 219, 219);
    border-radius: 15px;
    padding: 10px;
    line-height: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
    margin-bottom: 35px;
}

.break-container {
    margin-top: 25px;
}

.break-container h3 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.break-time-btn {
    display: inline-block;
    margin-right: 15px;
    border: none;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
}

.exercise-details h2 {
    margin: 30px 10px 10px;
}

.break-exercise {
    background-color: rgb(237, 219, 219);
    border-radius: 15px;
    padding: 10px;
    line-height: 22px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.break-exercise-time {
    color: rgba(128, 128, 128, 0.96);
}

.activity-btn {
    text-align: center;
    background-color: brown;
    color: white;
    padding: 12px 12px;
    margin: 0 10% auto;
    font-size: 17px;
    margin-top: 45px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
}

.activity-btn:hover {
    background-color: rgb(223, 34, 34);
}

/* 320px — 480px 360 x 640. */
@media screen and (max-width: 600px) {
    .main-container {
        display: grid;
        grid-row: auto;
    }

    .cart-summery {
        background-color: rgb(242, 242, 253);
        height: 600pxvh;
        width: 300px;
        position: absolute;
        padding: 20px;
        bottom: 0;
    }

}